.button-component {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 164px;
    height: 48px;
    font-size: 18px;
    font-weight: 900;
    color: #fff;
}

.button-component::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url("../../assets/button.svg");
    background-size: cover;
}

.button-component > p {
    z-index: 6;
    position: relative;
    display: block;
    transition: all 0.3s ease;
}

/* Mobile */
@media screen and (min-width: 640px) {
}

/* Tablet */
@media screen and (min-width: 1024px) {
    .button-component {
        width: 275px;
        height: 80px;
        font-size: 30px;
    }

    .button-component::before {
        display: none;
    }

    .button-component > .svg {
        position: absolute;
    }

    .button-component > .clip-path {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        overflow: hidden;
        clip-path: url(#buttonClip);
        background-color: var(--primary);
    }

    .button-component::after {
        font-size: 30px;
    }

    .button-component::after {
        content: "Let's Go";
        position: absolute;
        z-index: 6;
        top: 50%;
        left: 50%;
        display: block;
        font-size: 28px;
        opacity: 0;
        transform: translateX(-50%) translateY(-50%) scale(0);
        transition: all 0.3s ease;
    }

    .button-component > .clip-path::before {
        content: "";
        position: absolute;
        top: 0;
        right: 100%;
        bottom: 0;
        left: 0;
        background-color: var(--dark);
        border-radius: 99px;
        transform: scale(1.3);
        transition: all 0.3s ease;
    }

    .button-component:hover > p {
        opacity: 0;
        transform: scale(0);
    }

    .button-component:hover::after {
        opacity: 1;
        transform: translateX(-50%) translateY(-50%) scale(1);
    }

    .button-component:hover > .clip-path::before {
        right: 0;
    }
}

/* Desktop */
@media screen and (min-width: 1280px) {
}
