.featured-section {
    padding: 30px 0 68px;
}

.featured-section .description-component {
    margin-top: 8px;
}

.featured-section .game-cards {
    display: flex;
    flex-direction: column;
    margin-top: 64px;
    gap: 36px;
}

.featured-section .game-cards .card {
    overflow: hidden;
    width: 100%;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 12px 12px 30px #19191926;
}

.featured-section .card .game-img {
    position: relative;
    overflow: hidden;
    height: 300px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 20px;
}

.featured-section .card .shadow,
.featured-section .card .character {
    position: absolute;
    max-width: unset;
    max-height: unset;
}

.featured-section .card .character {
    transition: transform 0.3s ease;
}

.featured-section .card:hover .character {
    transform: scale(1.08) translate(-10px, -10px);
}

/* Cookie Jam Blast */

.featured-section .card.cookie-jam-blast .game-img {
    background-image: url("../assets/games/cookie-jam-blast-bg.png");
}

.featured-section .card.cookie-jam-blast .shadow {
    bottom: -140px;
    left: 50px;
    height: 430px;
}

.featured-section .card.cookie-jam-blast .character {
    bottom: -120px;
    left: 20px;
    height: 430px;
}

/* Panda Pop */

.featured-section .card.panda-pop .game-img {
    background-image: url("../assets/games/panda-pop-bg.png");
}

.featured-section .card.panda-pop .shadow {
    bottom: -30px;
    left: 0;
    height: 290px;
}

.featured-section .card.panda-pop .character {
    bottom: -1px;
    left: 10px;
    height: 260px;
}

/* Cookie Jam */

.featured-section .card.cookie-jam .game-img {
    background-image: url("../assets/games/cookie-jam-bg.png");
}

.featured-section .card.cookie-jam .shadow {
    bottom: -150px;
    left: 0px;
    height: 460px;
}

.featured-section .card.cookie-jam .character {
    bottom: -140px;
    left: -10px;
    height: 460px;
}

/* Game Details */

.featured-section .card .title {
    margin-top: 4px;
    font-size: 20px;
    font-weight: 900;
    text-align: center;
}

.featured-section .card .details {
    display: block;
    margin-bottom: 10px;
    font-size: 12px;
    font-weight: 900;
    color: var(--primary);
    text-align: center;
}

.featured-section .button-component {
    margin-top: 70px;
    margin-right: auto;
    margin-left: auto;
}

/* Mobile */
@media screen and (min-width: 640px) {
    /* Cookie Jam Blast */
    .featured-section .card.cookie-jam-blast .shadow {
        left: 220px;
    }

    .featured-section .card.cookie-jam-blast .character {
        left: 190px;
    }

    /* Panda Pop */

    .featured-section .card.panda-pop .shadow {
        left: 130px;
    }

    .featured-section .card.panda-pop .character {
        left: 140px;
    }

    /* Cookie Jam */
    .featured-section .card.cookie-jam .shadow {
        left: 150px;
    }

    .featured-section .card.cookie-jam .character {
        left: 140px;
    }
}

/* Tablet */
@media screen and (min-width: 1024px) {
    .featured-section {
        padding: 60px 0 100px;
    }

    .featured-section .game-cards {
        flex-direction: row;
        margin-top: 64px;
        gap: 36px;
    }

    .featured-section .card .game-img {
        height: 300px;
    }

    /* Cookie Jam Blast */
    .featured-section .card.cookie-jam-blast .shadow {
        left: 20px;
    }

    .featured-section .card.cookie-jam-blast .character {
        left: -10px;
    }

    /* Panda Pop */

    .featured-section .card.panda-pop .shadow {
        left: -10px;
    }

    .featured-section .card.panda-pop .character {
        left: 0px;
    }

    /* Cookie Jam */
    .featured-section .card.cookie-jam .shadow {
        left: -20px;
    }

    .featured-section .card.cookie-jam .character {
        left: -40px;
    }

    .featured-section .button-component {
        margin-top: 100px;
    }

    /* Game Details */

    .featured-section .card .title {
        margin-top: 4px;
        font-size: 30px;
    }

    .featured-section .card .details {
        margin-bottom: 15px;
        font-size: 18px;
    }
}

/* Desktop */
@media screen and (min-width: 1280px) {
    /* Cookie Jam Blast */
    .featured-section .card.cookie-jam-blast .shadow {
        left: 80px;
    }

    .featured-section .card.cookie-jam-blast .character {
        left: 50px;
    }

    /* Panda Pop */

    .featured-section .card.panda-pop .shadow {
        left: 0px;
    }

    .featured-section .card.panda-pop .character {
        left: 10px;
    }

    /* Cookie Jam */
    .featured-section .card.cookie-jam .shadow {
        left: 20px;
    }

    .featured-section .card.cookie-jam .character {
        left: 0px;
    }
}

/* Extra Large */
@media screen and (min-width: 1536px) {
    .featured-section .card .game-img {
        height: 450px;
    }

    /* Cookie Jam Blast */
    .featured-section .card.cookie-jam-blast .shadow {
        bottom: -180px;
        left: 70px;
        height: 600px;
    }

    .featured-section .card.cookie-jam-blast .character {
        bottom: -150px;
        left: 20px;
        height: 600px;
    }

    /* Panda Pop */
    .featured-section .card.panda-pop .shadow {
        bottom: -10px;
        left: 10px;
        height: 380px;
    }

    .featured-section .card.panda-pop .character {
        bottom: -1px;
        left: 10px;
        height: 380px;
    }

    /* Cookie Jam */
    .featured-section .card.cookie-jam .shadow {
        bottom: -200px;
        left: 20px;
        height: 590px;
    }

    .featured-section .card.cookie-jam .character {
        bottom: -200px;
        left: 0;
        height: 600px;
    }

    /* Game Details */

    .featured-section .card .title {
        font-size: 38px;
    }

    .featured-section .card .details {
        font-size: 20px;
    }
}
